/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

// Layers
#define DEFAULT    0
#define SYM        1
#define NAV        2

// Constants
#define TAP_TERM_MS 175

// Key Names
#define PREV_WIN LS(LA(LC(TAB)))
#define NEXT_WIN LA(LC(TAB))

&mt {
    tapping-term-ms = <TAP_TERM_MS>;
};

/ {
    behaviors {
        tp: hold_symbol {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_SYMBOL";
            #binding-cells = <2>;
            tapping_term_ms = <TAP_TERM_MS>;
            quick_tap_ms = <TAP_TERM_MS>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        lt_hp: hold_preferred_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_PREFERRED_LAYER";
            #binding-cells = <2>;
            tapping_term_ms = <TAP_TERM_MS>;
            quick_tap_ms = <TAP_TERM_MS>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };
        ht_hp: hold_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_PREFERRED";
            #binding-cells = <2>;
            tapping_term_ms = <TAP_TERM_MS>;
            quick_tap_ms = <TAP_TERM_MS>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
    &kp GRAVE       &kp Q           &kp W           &kp F           &kp P           &kp B              &kp J           &kp L           &kp U           &kp Y           &kp SEMI        &kp 
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &tp LALT ESC    &kp A           &kp R           &kp S           &kp T       &kp G              &kp M           &kp N           &kp E           &kp I           &kp O           &kp SQT
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &kp LGUI        &kp Z           &kp X           &kp C           &kp D           &kp V              &kp K           &kp H           &kp COMMA       &kp DOT         &kp SLASH       &kp EQUAL
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
                                                    &kp BSPC    &kt LCTRL       &lt_hp SYM BSPC    &ht_hp LSHFT SPACE &mt LS(RET) RET &ht_hp LSHFT SPACE
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘
            >;
        };

        symbols_layer {
            bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
//    &kp TILDE       &kp EXCL        &kp AT          &kp HASH        &kp DOLLAR      &kp PERCENT        &kp CARET       &kp AMPS        &kp ASTERISK    &kp PIPE2       &kp COLON       &kp UNDER
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//    &trans          &kp N1          &kp N2          &kp N3          &kp N4          &kp N5             &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &kp QUOTE
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//    &trans          &kp BSLH        &kp LBKT        &kp LBRC        &kp LPAR        &kp LT             &kp GT          &kp RPAR        &kp LBRC        &kp RBKT        &kp QMARK       &kp PLUS
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
//                                                    &trans          &trans          &trans             &trans          &trans          &trans
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘
            >;
        };

        navigation_layer {
            bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
//    &trans          &trans          &trans          &trans          &trans          &trans             &kp LGUI(N1)    &kp LGUI(N2)    &kp LGUI(N3)    &kp LGUI(N4)    &kp LGUI(N5)    &kp LGUI(N6)
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//    &trans          &trans          &trans          &trans          &trans          &trans             &kp LGUI(N7)    &kp LEFT        &kp UP          &kp DOWN        &kp RIGHT       &trans
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
//    &trans          &trans          &trans          &trans          &trans          &trans             &trans          &kp PAGE_UP     &kp PREV_WIN    &kp NEXT_WIN    &kp PAGE_DOWN   &trans
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
//                                                    &trans          &trans          &trans             &trans          &trans          &trans
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘
            >;
        };
    };
};



// Template:  ┌  ┘ │ ┤ └ ┴ ┬ ├ ─ ┼ ┐
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘
