/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

// Layers
#define DEFAULT    0
#define SYMBOLS    1
#define NAV 2

// Constants
#define TAP_TERM_MS 175
#define COMBO_TIMEOUT_MS 75

// Key Names
#define CMD_PALETTE LC(P) LC(LS(P))
#define PREV_WIN LS(LA(LC(TAB)))
#define NEXT_WIN LA(LC(TAB))
#define PREV_TAB LC(PAGE_UP)
#define NEXT_TAB LC(PAGE_DOWN)

&mt {
    tapping-term-ms = <TAP_TERM_MS>;
};

/ {

    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <TAP_TERM_MS>;
            bindings = <&lt SYMBOLS BACKSPACE>, <&kp BACKSPACE>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESC>;
            key-positions = <3 2>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
        };
    };

    macros {
        Hover: Hover {
            compatible = "zmk,behavior-macro";
            label = "new_macro";
            #binding-cells = <0>;
            bindings = <&kp LC(K) &kp LC(I)>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
    &none           &kp Q           &kp W           &kp F           &kp P           &kp G              &kp J           &mt BSLH L      &mt SQT U       &mt DQT Y       &mt COLON SEMI  &none
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &kp A           &kp R           &kp S           &lt NAV T       &kp D              &mt TILDE H     &mt PLUS N      &mt MINUS E     &mt UNDER I     &mt PIPE O      &none
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &none           &kp Z           &kp X           &kp C           &kp V           &kp B              &mt GRAVE K     &mt EQUAL M     &mt LT COMMA    &mt GT DOT      &mt QMARK FSLH  &none
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
                                                    &kp LGUI        &td0            &mt LCTRL TAB      &mt LS(RET) RET &mt LSHFT SPACE &mt CMD_PALETTE
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘
            >;
        };

        lower_layer {
            bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
    &trans          &kp CAPS        &kp LBRC        &kp LPAR        &kp LBKT        &trans             &trans          &kp RBKT        &kp RPAR        &kp RBRC        &trans          &trans
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &trans          &kp N1          &kp N2          &kp N3          &kp N4          &kp N5             &kp N6          &kp N7          &kp N8          &kp N9          &kp N0          &trans
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &trans          &trans          &trans          &trans          &trans          &trans             &trans          &trans          &trans          &trans          &trans          &trans
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
                                                    &trans          &trans          &trans             &trans          &trans          &trans
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘
            >;
        };

        raise_layer {
            bindings = <
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
    &trans          &trans          &kp F2          &bt BT_PRV      &bt BT_NXT      &trans             &trans          &kp HOME        &kp PAGE_UP     &kp PAGE_DOWN   &kp END         &trans
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &trans          &kp LC(LS(R))   &kp LA(F12)     &kp LALT        &bt BT_CLR      &trans             &trans          &kp LEFT        &kp UP          &kp DOWN        &kp RIGHT       &trans
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
    &trans          &trans          &trans          &trans          &ext_power EP_TOG  &trans          &trans          &kp PREV_TAB    &kp PREV_WIN    &kp NEXT_WIN    &kp NEXT_TAB &trans
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
                                                    &trans          &trans          &trans             &trans          &trans          &trans
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘
            >;
        };
    };
};



// Template:  ┌  ┘ │ ┤ └ ┴ ┬ ├ ─ ┼ ┐
// ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐  ┌───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────┐
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// └───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤  ├───────────────┼───────────────┼───────────────┼───────────────┴───────────────┴───────────────┘
//                                                 └───────────────┴───────────────┴───────────────┘  └───────────────┴───────────────┴───────────────┘